.card-body {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.bg-primary {
  white-space: normal !important;
  padding: 10px !important;
  border-radius: 0.25rem 0.25rem 0 0 !important;
  margin: 4px;
  margin-bottom: 0px;
}

.bg-danger {
  white-space: normal !important;
  padding: 10px !important;
  border-radius: 0 0 0.25rem 0.25rem !important;
  margin: 4px;
  margin-top: 0px;
}

.Alert {
  display: flex;
  justify-content: space-around;
}

.title {
  margin: 20px;
}

.suggestions {
  position: fixed;
  z-index: 1000;
  width: inherit;
  margin-top: -2px;
  border-radius: 0 0 0.25rem 0.25rem !important;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 5%);
}
